html,
body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    width: auto;
    height: 100svh;

    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    height: 100vh;

    position: relative;

    scroll-snap-align: start;
}

section .section-bg {
    width: 100%;
    height: 100%;
  
    background-image: url(../images/wind/sky-gradient.svg);
    transform: rotateX(180deg);
}

.blur-filter {
    position: absolute;
    bottom: -50px;

    height: 100px;
    width: 100%;

    backdrop-filter: blur(20px);

    z-index: 3;
}