.wave {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  position: absolute;

  width: 100%;
}

#wind #wave-left {
  background-image: url(../images/wind/soil-wave-3.svg);

  bottom: 0;
  z-index: 2;

  height: 400px;
}

#wind #wave-right {
  background-image: url(../images/wind/soil-wave.svg);

  bottom: 0;

  height: 350px;
}

.cloud {
  --scale: 2;

  background-image: url(../images/wind/cloud.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  position: absolute;
  top: 80px;
  left: 120px;

  transform: scale(2);
  animation: 4s clouds ease infinite;

  height: 100px;
  width: 100px;
}

.cloud:first-child {
  z-index: 1;
}

.cloud:nth-child(2) {
  --scale: 1.5;

  left: 200px;
  bottom: 120px;

  animation: 4.3s clouds ease infinite;

  filter: invert(1%) sepia(1%) saturate(477%) hue-rotate(158deg) brightness(99%)
    contrast(91%);
}

.cloud:nth-child(3) {
  --scale: 1;

  left: auto;
  right: 150px;
  bottom: 300px;

  animation: 5s clouds ease infinite;
}

.wind-turbine {
  position: absolute;

  z-index: 3;

  height: 200px;
  width: 200px;
}

.wind-turbine:first-child {
  bottom: 230px;
  left: 50%;

  transform: translate(-50%);
}

.wind-turbine:nth-child(2) {
  right: 230px;
  bottom: 180px;

  transform: scale(2);
}

.wind-turbine .turbine {
  transform-origin: center 62.5%;
  transform-box: fill-box;

  animation: turbine 7s linear infinite;
}

@keyframes clouds {
  0% {
    transform: translateY(0px) scale(var(--scale));
  }
  50% {
    transform: translateY(8px) scale(var(--scale));
  }
  100% {
    transform: translateY(0px) scale(var(--scale));
  }
}

@keyframes turbine {
  to {
    transform: rotate(1turn);
  }
}
