@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);

  overflow-x: hidden;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  cursor: url(../images/cursor/magnifying-glass-solid.svg), auto;
}

body {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

section {
  position: relative;

  width: 100%;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#wrapper {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: auto;

  section {
    flex-shrink: 0;

    .section-hero {
      position: relative;
      inset: 0;

      width: 100%;
      height: 100vh;
    }

    .section-body {
      background-color: #fff;

      margin: 4rem 3rem;

      h2 {
        font-size: 6rem;
        font-weight: 600;

        margin: 0;
      }
    }
  }
}