.chart {
  margin: 2rem 0;
  width: 100%;

  .grid-lines line {
    stroke-opacity: 0.2;
  }
}

#fossil-chart {
  .grid-lines line {
    stroke: rgb(var(--color-fossil));
  }
}

#gas-chart {
  .grid-lines line {
    stroke: rgb(var(--color-gas));
  }
}

#coal-chart {
  .grid-lines line {
    stroke: rgb(var(--color-coal));
  }
}

#nuclear-chart {
  .grid-lines line {
    stroke: rgb(var(--color-nuclear));
  }
}

#hydro-chart {
  .grid-lines line {
    stroke: rgb(var(--color-hydraulic));
  }
}

#solar-chart {
  .grid-lines line {
    stroke: rgb(var(--color-solar));
  }
}

#wind-chart {
  .grid-lines line {
    stroke: rgb(var(--color-wind));
  }
}
