.chart {
  margin: 2rem 0;
  width: 100%;

  .grid-lines line {
    stroke-opacity: 0.2;
  }
}

.tooltip {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  pointer-events: none;
}

#fossil.active ~ .tooltip {
  border-color: rgb(var(--color-fossil));
  color: rgb(var(--color-fossil));
}

#nuclear.active ~ .tooltip {
  border-color: rgb(var(--color-nuclear));
  color: rgb(var(--color-nuclear));
}

#fossil-chart {
  .grid-lines line {
    stroke: rgb(var(--color-fossil));
  }

  g.point-of-interest {
    circle {
      cursor: var(--cursor-hand-up);
    }
  }
}

#nuclear-chart {
  .grid-lines line {
    stroke: rgb(var(--color-nuclear));
  }

  g.point-of-interest {
    circle {
      cursor: var(--cursor-hand-up);
    }
  }
}

#hydraulic-chart {
  .grid-lines line {
    stroke: rgb(var(--color-hydraulic));
  }

  rect,
  text {
    cursor: var(--cursor-hand-up);
  }
}
