#fossil {
  .interactive:hover {
    cursor: url(../images/cursor/x-ray-solid.svg), auto;
  }

  #underground {
    background-image: url(../images/fossil/underground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 400px;
  }

  #pumping-oil {
    position: absolute;
    bottom: 215px;
    left: 50%;

    transform: translate(-50%, -50%);

    #weight-half-circle {
      transform-origin: center 62.5%;
      transform: scale(0.15) rotate(90deg) translate(-480px, -140px);
    }
  }

  .section-body {
    background-color: rgba(var(--color-fossil), var(--section-body-opacity));
  }

  #image-raffinerie {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #fossil {
    #underground {
      height: 439px;
    }

    #pumping-oil {
      bottom: 347px;
      left: 60%;

      transform: translateX(-50%) scale(0.5);
    }

    #image-raffinerie {
      width: 100%;
    }
  }
}
