#hydraulic {
    position: relative;

    #layered-peaks {
        position: absolute;
        bottom: 0;

        width: 100%;

        img {
            width: 100%;
            height: 890px;

            object-fit: cover;
            object-position: top left;
        }
    }

    .section-body {
        background-color: rgba(var(--color-hydraulic), var(--section-body-opacity));
    }
}

@media (max-width: 768px) {
    #hydraulic {
        #layered-peaks {
            img {
                height: 480px;

                object-position: top right;
            }
        }
    }
}