.navigation {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;

    background-color: #000;
    border-radius: 30px;
    padding: 1rem;
    cursor: var(--cursor-default-white);

    opacity: 0;
    transform: translateX(200px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    li {
      width: 100%;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.4rem;

      padding: 1rem 0.5rem;
      color: #fff;
      text-decoration: none;
      border-radius: 15px;
      cursor: var(--cursor-hand-up-white);

      transition: all 0.3s ease-in-out;

      &.fossil {
        color: rgb(var(--color-fossil));
        border: 1px solid rgb(var(--color-fossil));
        background-color: rgba(var(--color-fossil), 0.3);
      }

      &.hydraulic {
        color: rgb(var(--color-hydraulic));
        border: 1px solid rgb(var(--color-hydraulic));
        background-color: rgba(var(--color-hydraulic), 0.2);
      }

      &.nuclear {
        color: rgb(var(--color-nuclear));
        border: 1px solid rgb(var(--color-nuclear));
        background-color: rgba(var(--color-nuclear), 0.2);
      }

      &.solar {
        color: rgb(var(--color-solar));
        border: 1px solid rgb(var(--color-solar));
        background-color: rgba(var(--color-solar), 0.2);
      }

      &.wind {
        color: rgb(var(--color-wind));
        border: 1px solid rgb(var(--color-wind));
        background-color: rgba(var(--color-wind), 0.2);
      }

      &.active,
      &:hover {
        color: #fff;

        &.fossil {
          background-color: rgba(var(--color-fossil), 1);
        }

        &.hydraulic {
          background-color: rgba(var(--color-hydraulic), 1);
        }

        &.nuclear {
          background-color: rgba(var(--color-nuclear), 1);
        }

        &.solar {
          background-color: rgba(var(--color-solar), 1);
        }

        &.wind {
          background-color: rgba(var(--color-wind), 1);
        }

        .icon {
          filter: invert(100%);
        }
      }
    }
  }

  .icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;

    &.fossil {
      filter: invert(15%) sepia(87%) saturate(785%) hue-rotate(328deg)
        brightness(95%) contrast(96%);
      background-image: url("../images/nav/oil-well-solid.svg");
    }

    &.hydraulic {
      filter: invert(65%) sepia(72%) saturate(498%) hue-rotate(166deg)
        brightness(97%) contrast(94%);
      background-image: url("../images/cursor/cloud-rain-solid.svg");
    }

    &.nuclear {
      filter: invert(48%) sepia(43%) saturate(608%) hue-rotate(210deg)
        brightness(86%) contrast(92%);
      background-image: url("../images/cursor/radiation-solid.svg");
    }

    &.solar {
      filter: invert(68%) sepia(98%) saturate(375%) hue-rotate(351deg)
        brightness(93%) contrast(90%);
      background-image: url("../images/nav/sun-solid.svg");
    }

    &.wind {
      filter: invert(30%) sepia(93%) saturate(2404%) hue-rotate(131deg)
        brightness(91%) contrast(101%);
      background-image: url("../images/nav/fan-solid.svg");
    }
  }

  .toggle {
    float: right;
    padding: 1rem;
    background: #000;
    border-radius: 100%;
    outline: transparent;
    border: transparent;
    cursor: var(--cursor-hand-up-white);

    opacity: 0;
    transform: translateX(200px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }

    &::after {
      content: "";
      display: inline-block;
      background-image: url("../images/nav/bars-solid.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      filter: invert(100%);
    }
  }

  &.active {
    ul {
      opacity: 1;
      transform: translateX(0);
    }

    button::after {
      background-image: url("../images/nav/xmark-solid.svg");
    }
  }
}
