#nuclear {
  .interactive:hover {
    cursor: url(../images/cursor/radiation-solid.svg), auto;
  }

  .section-body {
    background-color: rgba(var(--color-nuclear), var(--section-body-opacity));
  }

  #ground {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 150px;

    background-color: rgb(var(--color-nuclear));
  }

  #smoke {
    height: 100%;

    #bubbleGroup {
      transform: translate(350px, -500px);

      .st5 {
        fill: #946eb5;
      }
      .st6 {
        fill: #bf7ab3;
      }
    }
  }

  #nuclear-reactor {
    position: absolute;
    bottom: 150px;

    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  #nuclear-bubbles {
    position: absolute;
    bottom: 80px;
    left: -160px;
    width: 100%;
    height: 100%;
  }

  #image-nuclear {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #nuclear {
    #ground {
      height: 227px;
    }

    #nuclear-reactor {
      bottom: 227px;

      width: 100%;
    }

    #nuclear-bubbles {
    }

    #image-nuclear {
      width: 100%;
    }
  }
}
