:root {
  --font-size: 16px;
  --font-family: "Poppins", sans-serif;

  --color-fossil: 95, 36, 27;
  --color-hydraulic: 84, 195, 241;
  --color-nuclear: 122, 107, 195;
  --color-solar: 227, 176, 48;
  --color-wind: 0, 148, 53;

  --section-body-opacity: 0.1;

  --cursor-default: url(../images/cursor/arrow-pointer-solid.svg), auto;
  --cursor-magnifying-glass: url(../images/cursor/magnifying-glass-solid.svg),
    auto;
  --cursor-hand-down: url(../images/cursor/hand-point-down-solid.svg), auto;
  --cursor-hand-up: url(../images/cursor/hand-point-up-solid.svg), auto;
}

@media (max-width: 768px) {
  :root {
    --font-size: 12px;
  }
}
