#background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  .section-bg {
    width: 100%;
    height: 100%;
  
    background-image: url(../images/background/sky-gradient.svg);
    transform: rotateX(180deg);
  }
  
  .cloud {
    --scale: 2;
  
    background-image: url(../images/background/cloud.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
    position: absolute;
    top: 80px;
    left: 120px;
  
    transform: scale(2);
    animation: 4s clouds ease infinite;
  
    height: 100px;
    width: 100px;

    &:first-child {
      --scale: 1.5;
    
      left: 200px;
      bottom: 120px;
    
      animation: 4.3s clouds ease infinite;
    
      filter: invert(1%) sepia(1%) saturate(477%) hue-rotate(158deg) brightness(99%) contrast(91%);
    }
    
    &:nth-child(3) {
      --scale: 1;
    
      left: auto;
      right: 150px;
      bottom: 300px;
    
      animation: 5s clouds ease infinite;
    }

    &.interactive:hover {
      background-color: red;
      z-index: 2;
      cursor: url(../images/cursor/cloud-rain-solid.svg), auto;
    }

    @keyframes clouds {
      0% {
        transform: translateY(0px) scale(var(--scale));
      }
      50% {
        transform: translateY(8px) scale(var(--scale));
      }
      100% {
        transform: translateY(0px) scale(var(--scale));
      }
    }
  }
}

@media (max-width: 768px) {
  #background {
    .cloud {
      top: 30px;

      &:nth-child(3) {
        display: none;
      }
    }
  }
}